<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>er-team ML dashboard</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/static/js/eventHandler.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>

<body>
  <div class="container">
    <!-- Header containder -->
    <div class="row mb-5">
      <div class="col-lg-8 text-white py-4 text-center mx-auto">
        <h1 class="display-3">ER-team Dashboard</h1>
        <h3 class="display-4">Who is likely to stay?</h3>
        <p class="lead">By <a href="https://bootstrapious.com/snippets" class="text-white">
            Faramarz, Pegah,Yixin, Adanma.</a>
        </p>
      </div>
    </div>
    <!-- End -->


    <div class="p-5 bg-white rounded shadow mb-5">
    <!-- Rounded tabs -->
      <ul id="myTab" role="tablist"
        class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
        <li class="nav-item flex-sm-fill">
          <a id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true"
            class="nav-link border-0 text-uppercase font-weight-bold active">Model Analysis</a>
        </li>
        <li class="nav-item flex-sm-fill">
          <a id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false"
            class="nav-link border-0 text-uppercase font-weight-bold">Feature Analysis</a>
        </li>
        <li class="nav-item flex-sm-fill">
          <a id="third-tab" data-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false"
            class="nav-link border-0 text-uppercase font-weight-bold">Models Compared</a>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div id="first" role="tabpanel" aria-labelledby="first-tab" class="tab-pane fade px-4 py-5 show active">
          <div class="container py-5">
		      <!-- first tab container -->
            <div class="row">
              <div class="col-3">

                <div class="card">
                  <h5 class="card-header">Select dataset and model</h5>
                  <div class="card-body">

                    <form method="POST">
                      <div class="form-group">
                        <label for="drop1">Select dataset</label>
                        <p>

                          <select id="drop1" onchange="this.form.submit(db=test&func=chart1")">
                            <option value="choose">Choose...</option>
                            <optgroup label="Datasets">
                              <option value="train">Training</option>
                              <option value="test">Test</option>
                            </optgroup>
                          </select>
                        </p>


                        <p>
                          <label for="drop2">Select ML model</label>
                          <select id="drop2" onchange="drop2Handler(this.value)">
                            <option value="choose">Choose...</option>
                            <optgroup label="Models">
                              <option value="rf">Random Forest</option>
                              <option value="lr">Logistic Regression</option>
                              <option value="knn">KNN</option>
                            </optgroup>
                          </select>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>


              </div>
              <div class="col-4">
                <div class="card">
                  <h5 class="card-header">Feature counts</h5>
                  <div class="card-body">


                    <div id="chart1">                      
                      {{ chart1|safe }}
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-5">

                <div class="card">
                  <h5 class="card-header">Predictions</h5>
                  <div class="card-body">
                    <div id="chart2">


                      <!-- Java script to create a chart from data -->
                      <script>
                        data_received = {{ chart2 | safe }}

                        var data = [
                          {
                            x: ['Likely to stay','Likely to leave'],
                            y: data_received,
                            type: 'bar'
                          }
                        ];

                        Plotly.newPlot('chart2', data);
                      </script>


                    </div>
                  </div>

                </div>


              </div>
              <div class="container">

                <!-- bottom Row -->
                <div class="row">
                  <div class="col-7">
                    <div class="card">
                      <h5 class="card-header">classification report</h5>
                      <div class="card-body" id="chart3">
                        {{ chart3|safe }}

                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div class="card">
                      <h5 class="card-header">confusion metrics</h5>
                      <div class="card-body" id="chart4">
                        {{chart4 | safe}}
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
                </div>
				<!-- tab 1 functionality -->

          </div>
          <!-- first tab container END -->
          <div id="second" role="tabpanel" aria-labelledby="second-tab" class="tab-pane fade px-4 py-5">
            
            <div class="row">
              <div class="col-3">

                <div class="card">
                  <h5 class="card-header">Select dataset </h5>
                  <div class="card-body">

                    <form>
                      <div class="form-group">
                        <p>
                          <label for="select">Select dataset</label>
                          <select id="drop3" onchange="drop2Handler(this.value)">
                           <option value="">Choose...</option>
                           <optgroup label="Datasets">
                           <option value="">Training</option>
                           <option value="">Test</option>
                           </optgroup>
                           </select>
                        </p>
                      </div>
                    </form>  
                  </div>    
                </div>
              </div> 
              
              <div class="col-7">
                <div class="card">
                  <h5 class="card-header">Frequency of target</h5>
                  <div class="card-body">


                    <div id="chart5">
        
                        <script>
 
                          data_received = {{ chart5 | safe }} 
                         
                           data = [
                            {
                          values: [14381,4777],
                          labels: ['Likely to stay', 'Likely to leave'],
                          type: 'pie'
                           }
                          ];
    
                           var layout = {
                              height: 400,
                              width: 500
                                 };
    
                           Plotly.newPlot('chart5', data, layout); 
                           
                        </script> 
                    
                      <!-- Java script to create a Pie from data -->
                   
                    </div>
                   
        

                  </div>
                </div>
              </div>   
            </div>
            <div class="row"></div>
             <div class="col-6">
              <div class="card">
                <h5 class="card-header">Important Features</h5>
                <div class="card-body">

                   <div>
                      <p> display chart6</p>
                   </div> 
                </div>
              </div>
             </div> 
             <div class="col-6">
              <div class="card">
                <h5 class="card-header">Important Features</h5>
                <div class="card-body">


                     <div id="displayTable">
                        <p> display chart7 </p>
              
                     </div>
                </div>
              </div>
             </div>
          <!-- tab 2 functionality -->
          </div>
		        <div id="third" role="tabpanel" aria-labelledby="third-tab" class="tab-pane fade px-4 py-5">

               <div id="displayChart">
                 <p> display chart9 </p>
               </div>
 <!--label for="select">Select dataset</label-->
                <select id="drop4">
                  <option value="">Choose...</option>
                  <optgroup label="Datasets">
                     <option value="">Training</option>
                     <option value="">Test</option>
                  </optgroup>
                </select>
                 </p>
               <div id = "displayTable">
            <table class='table table-striped'>
              <thead>
                <th scope='col'>Score Type</th>
                <th scope='col'>0</th>
                <th scope='col'>1</th>
                <th scope='col'>accuracy</th>
                <th scope='col'>macro avg</th>
                <th scope='col'>weighted avg</th>
                <th scope='col'>model</th>
              </thead>
              <tbody>
                <tr>
                  <td>precision</td> 
                  <td>0.805362</td>
                  <td>0.538058</td>
                  <td>0.762839</td> 
                  <td>0.671710</td>
                  <td>0.738732</td>
                  <td>RandomForest</td>
                </tr>
                <tr>
                  <td>recall</td> 
                  <td>0.902113</td>
                  <td>0.343384</td>
                  <td>0.762839</td> 
                  <td>0.622749</td>
                  <td>0.762839</td>
                  <td>RandomForest</td>
                </tr>
                <tr>
                  <td>f1-score</td> 
                  <td>0.850997</td>
                  <td>0.419223</td>
                  <td>0.762839</td> 
                  <td>0.635110</td>
                  <td>0.743369</td>
                  <td>RandomForest</td>
                </tr>
                <tr>
                  <td>precision</td> 
                  <td>0.781983</td>
                  <td>0.399033</td>
                  <td>0.715866</td> 
                  <td>0.590508</td>
                  <td>0.686525</td>
                  <td>KNN</td>
                </tr>
                <tr>
                  <td>recall</td> 
                  <td>0.861791</td>
                  <td>0.276382</td>
                  <td>0.715866</td> 
                  <td>0.569086</td>
                  <td>0.715866</td>
                  <td>KNN</td>
                </tr>
                <tr>
                  <td>f1-score</td> 
                  <td>0.819950</td>
                  <td>0.326571</td>
                  <td>0.715866</td> 
                  <td>0.573260</td>
                  <td>0.696966</td>
                  <td>KNN</td>
                </tr>
                <tr>
                  <td>precision</td> 
                  <td>0.836647</td>
                  <td>0.395598</td>
                  <td>0.673486</td> 
                  <td>0.616122</td>
                  <td>0.726707</td>
                  <td>LogisticRegression</td>
                </tr>
                <tr>
                  <td>recall</td> 
                  <td>0.702169</td>
                  <td>0.587102</td>
                  <td>0.673486</td> 
                  <td>0.644636</td>
                  <td>0.673486</td>
                  <td>LogisticRegression</td>
                </tr>
                <tr>
                  <td>f1-score</td> 
                  <td>0.763532</td>
                  <td>0.472690</td>
                  <td>0.673486</td> 
                  <td>0.618111</td>
                  <td>0.673486</td>
                  <td>LogisticRegression</td>
                </tr>
              </tbody>
            </table>        
          
        <!-- first END -->
      </div>
    
      <!-- myTabContent END-->
    </div>
    <!-- p-5 bg-white rounded shadow mb-5 END-->
  </div>
  <!-- container py-5 END -->
</body>

</html>